.rating_text{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.rotten_text{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}