




/* Movies section title */
.section_title{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
}


.section_see_all{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #BE123C;
    flex: none;
    order: 0;
    flex-grow: 0;
}
/* End  */


/* Section for Movie Image */
.movie_img_tv_type{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #111827;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.tv_series_content{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #111827;
    flex: none;
    order: 0;
    flex-grow: 0;
}
/* End */



/* Overiding React Slicker Carousel class */

.slick-prev {
    left: -50px;
}
/* End */

