.header_wrapper{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    /* background-attachment: fixed; */
    
}

.header1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.trailer_btn{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 6px;
    line-height: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}